# Logs
logs
*.log
npm-debug.log*

# Runtime data
dist
dist-ssr
*.local

# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.claude